
@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Sanskrit&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    min-height: 100vh;
    background:  linear-gradient(to right top, #efcdde, #dfb9e2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    background: #fff;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.01));
    border-radius: 20px;
    z-index: 2;
    backdrop-filter: blur(1rem);
    display: flex;
}   

.circle1, .circle2, .circle3, .circle4{
    background: #fff;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, .6), rgba(255, 255, 255, 0.1));
    height: 18rem;
    width: 18rem;
    position: absolute;
    border-radius: 50%;
}

.circle1{
    top: 3%;
    right: 15%;
}

.circle2{
    bottom: 10%;
    left: 10%;
    height: 14rem;
    width: 14rem;
}

.circle3{
    bottom: 2%;
    right: 25%;
    height: 12rem;
    width: 12rem;
}

img {
    max-width: 75px
}

.links img{
    max-width: 55px;
}

.contact img{
    max-width: 40px;
    position: absolute;
    bottom: 32%;
    left: 75%;
}

.dashboard{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
    border-radius: 20px;
    padding-top: 3%;
}

.link{
    display: flex;
    margin: 2rem 0rem;
    padding: 1rem 5rem;
    align-items: center;
}

.link h2{
    padding: 0rem 1rem;
}

.search{
    flex: 2;
    
}

.contact{
    background:  linear-gradient(to right top, #e4b7e6, #EED9E4);
    padding: 2.5rem;
    border-radius: 1rem;
    display: flex;
    position: relative;
    width: 65%;
    margin-bottom: 5%;
    box-shadow: 6px 6px 20px rgba(112, 112, 112, .3);
}

h1{
    font-family: 'Tiro Devanagari Sanskrit', serif;
    color: #827fce;
    opacity: 70%;
    font-size: 35px;
}

h2{
    font-family: 'Tiro Devanagari Sanskrit', serif;
    color: #827fce;
    opacity: 70%;
    font-size: 20px;
}

h3{
    font-family: 'Tiro Devanagari Sanskrit', serif;
    color: #827fce;
    opacity: 70%;
    font-size: 15px;
}

p{
    font-family: 'Tiro Devanagari Sanskrit', serif;
    color: #827fce;
    opacity: 70%;
}

.status{
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin: 5rem;
}

.status input{
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
    border: none;
    width: 50%;
    padding: 0.5rem;
    border-radius: 2rem;
}

.services{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3rem;
}

.service{
    display: flex;
    background: linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, 0.4));
    margin: 2rem;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 6px 6px 15px rgba(112, 112, 112, .5);
    
}

.service-info{
    margin-top: 10px;
}

.availability{
    margin-top: 5px;
    margin-left: 5px;
}

@media(max-width: 500px){
   .glass{
       margin: 10%;
       /*min-height: 40vh;*/
       display: flex;
       flex-direction: column;
       width: 80%;
   }
   
   .dashboard{
       width: 100%;
}

    .status{
        margin-top: 35px;
        margin-bottom: 15px;
        margin-left: 35px;
    }


    .availability{
        margin-right: 10px;
    }

    h2{
        font-family: 'Tiro Devanagari Sanskrit', serif;
        color: #827fce;
        opacity: 70%;
        font-size: 18px;
    }

    h3{
        font-family: 'Tiro Devanagari Sanskrit', serif;
        color: #827fce;
        opacity: 70%;
        font-size: 12px;
    }

   .services{
       margin: 0rem;
       margin-top: 30px;
   }


   .service img{
     max-height: 60px;
     max-width: 60px;
     margin-top: 5px;
   }

   img {
    max-width: 30px;
    max-height: 40px;
}

.circle1, .circle2, .circle3{
    background: #fff;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, .6), rgba(255, 255, 255, 0.1));
    height: 10rem;
    width: 10rem;
    position: absolute;
    border-radius: 50%;
}

.circle1{
    top: 2%;
    right: 2%;
}

.circle2{
    bottom: 10%;
    left: 4%;
    height: 9rem;
    width: 9rem;
}

.circle3{
    bottom: -30%;
    right: 2%;
    height: 6rem;
    width: 6rem;
}

.circle4{
    bottom: -115%;
    right: 5%;
    height: 15rem;
    width: 15rem;
}

.status input{
    width: 100%;
}

}